.header {
    background: #fff;
}

.header div {
    width: 768px;
    position: relative;
    margin: auto;
    padding: 80px 10px;
}

.header h1 {
    font-size: 3.8rem;
    text-align: center;
    margin: 0;
    z-index: 1;
}

.header span {
    position: absolute;
    left: 50%;
    bottom: -50px;
    width:160px;
    padding: 60px 0 20px;
    border-radius: 50%;
    background: #fff;
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: bold;
    color: cornflowerblue;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header div {
        width: calc(100% - 20px);
        padding: 60px 10px;
    }

    .header h1 {
        font-size: 2.6rem;
    }
}

