.question--inner {
}

.question--item {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 768px;
    padding: 0 10px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.question--item.intro {
    margin-top: 10%;
}

.question--btn {
    border: none;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 12px 24px;
    margin-top: 10px;
}

.question--title {
    font-size: 1.4rem;
    padding: 20px;
}

.question--title p {
    font-size: 2rem;
    margin-top: 40px;
}

.question--seconds {
    width: 40px;
    height: 40px;
    font-size:1.4rem;
    font-weight: 600;
    border: 3px solid #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: 40px auto 0;
}

.answer--title {
    font-size: 2.4rem;
    margin-top: 20px;
}

.answer--title p {
    font-size: 2rem;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .question--item {
        width: calc(100% - 20px);
    }
}


.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}